{#
/**
 * @file
 * Default theme implementation to display an oEmbed resource in an iframe.
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html>
  <head>
    <css-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body style="margin: 0;">
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
